<div>
    <form action="" method="post" class="form-mediano" enctype="multipart/form-data">
        <div class="text-center">
            <h2>Create Publication</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, natus.</p>
        </div>
        <div class="form-group my-2">
            <input type="text" class="form-control" name="title" value="{{title}}" placeholder="Enter the title" autofocus required>
        </div>
        <div class="form-group my-2">
            <input type="text" class="form-control" name="sub_title" value="{{sub_title}}" placeholder="Enter subtitle">
        </div>
        <div class="form-group my-2">
            <input type="text" class="form-control" name="description" value="{{description}}" placeholder="Enter the description">
        </div>
        <div class="form-group my-2">
            <input type="file" class="form-control" name="multi_single" value="" placeholder="Enter the description" required>
        </div>
  
        <div class="form-group my-2">
            <button type="submit" class="btn btn-info">Create</button>
        </div>
    </form>
</div>