<div class="my-5">
    
    <div class="section-publications">
        {{#each listPubli}}
        <div class="card-mediano">
            <a href="/publication/{{_id}}">
                <img src="{{multimedia.path}}" alt="">
            </a>
        </div>
        {{/each}}
    </div>
   
</div>