<div>
    <h1 class="text-center">About of Page</h1>
    <div class="text-justify">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus ad laudantium nihil facere vitae repudiandae dignissimos iusto totam assumenda veritatis illum non recusandae modi, temporibus consectetur voluptate magni quia laborum.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus ad laudantium nihil facere vitae repudiandae dignissimos iusto totam assumenda veritatis illum non recusandae modi, temporibus consectetur voluptate magni quia laborum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus mollitia odio asperiores in magni! Culpa deserunt mollitia recusandae esse, illo dignissimos facere consectetur assumenda quod officiis. Exercitationem architecto quae ipsam?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus ad laudantium nihil facere vitae repudiandae dignissimos iusto totam assumenda veritatis illum non recusandae modi, temporibus consectetur voluptate magni quia laborum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus mollitia odio asperiores in magni! Culpa deserunt mollitia recusandae esse, illo dignissimos facere consectetur assumenda quod officiis. Exercitationem architecto quae ipsam?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus ad laudantium nihil facere vitae repudiandae dignissimos iusto totam assumenda veritatis illum non recusandae modi, temporibus consectetur voluptate magni quia laborum.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus ad laudantium nihil facere vitae repudiandae dignissimos iusto totam assumenda veritatis illum non recusandae modi, temporibus consectetur voluptate magni quia laborum.</p>
    </div>
</div>